.wall_module .replies_wrap,
.wall_module .reply_link_wrap {
  display: none !important;
  visibility: hidden !important;
}

.vkcb .vkcb-btn {
  float: right !important;
  margin-right: 0;
}

.vkcb .vkcb-btn:hover > .icon {
  background-position: -42px center;
}
.vkcb .vkcb-btn > .icon {
  float: left;
  vertical-align: middle;
  content: "";
  width: 14px;
  height: 14px;
  background: url("//m.vk.com/images/mobile/post_buttons.png") no-repeat;
  background-position: -28px center;
}
.vkcb .vkcb-btn > .desc {
  padding-left: 3px;
}
.vkcb.is_2x .vkcb-btn > .icon {
  background-image: url("//m.vk.com/images/mobile/post_buttons_2x.png");
  background-size: 188px 14px!important;
}

.wall_module .replies_wrap.vkcb-show {
  display: block !important;
  visibility: visible !important;
}

.vkcb.-global-off .wall_module .reply_link_wrap .reply_link {
  visibility: hidden !important;
}

.vkcb.-global-off .wall_module .replies_wrap,
.vkcb.-global-off #wl_replies_wrap,
.vkcb.-global-off #wl_reply_form_wrap,
.vkcb.-global-off #mv_comments_wrap,
.vkcb.-global-off #mv_your_comment,
.vkcb.-global-off #pv_comments,
.vkcb.-global-off #pv_comments_header,
.vkcb.-global-off #pv_your_comment {
  display: none !important;
  visibility: hidden !important;
}
