@charset "utf-8";

.wall_module .reply_link_wrap .reply_link {
  visibility: visible !important;
}

.wall_module .replies_wrap {
  display: block !important;
  visibility: visible !important;
}

body:after {
  content: "С комментариями!";
  background-color: #99ffcc;
}
